// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// Ninja Form Style
// ======================================================================== /
.nf-form-cont {

    .nf-form-title h3{
        margin-bottom: 5px;
    }

    .nf-form-fields-required {
        margin-bottom: 30px;
    }

    .nf-field-label {
        margin-bottom: 5px !important;
    }

    .ninja-forms-field {
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid rgba(35,45,75,0.15);
        background-color: $w;
        outline: 0;
        box-shadow: none;

        &[type="button"] {
            text-transform: uppercase;
            color: $w;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: $primary;
            padding: 12px 35px;
        }

        &:focus, &:active {
            border-color: $primary;
        }
    }

    .nf-error-msg {
        font-size: 13px;
    }
}
