html {
    font-size: $font_size;
}

body {
    font-family: $body;
    color: $paragraph;
    letter-spacing: 0.3px;
    background-color: $w;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    height: 100vh;
}


// Heading
// ======================================================================== /
h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    color: $dark;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	display:block;
}


// Link Style
// ======================================================================== /
a {
    color: $primary;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover, &:focus {
        text-decoration: none;
    }

    &:hover, &:active, &:focus {
        outline: 0;
    }
}


// Paragraph
// ======================================================================== /
p {
    line-height: 24px;
    margin-bottom: 20px;
}

// Wrappper Style
// ======================================================================== /
.wrap {
    padding: 60px 0;
}

// .row {
//     @include media-breakpoint-down(xs) {
//         margin-left: 0;
//         margin-right: 0;
//     }
// }

// PLACEHOLDER
// ======================================================================== /
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
input:-moz-placeholder { /* Firefox 18- */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
textarea::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
textarea:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}
textarea:-moz-placeholder { /* Firefox 18- */
    color: $placeholder;
	font-size: 15px;
    opacity: 0.45;
}


// List
// ======================================================================== /
// ul {
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
// }
