// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// ======================================================================== /
// Font Style
// ======================================================================== /
$heading:  "Lora", sans-serif, arial;
$body:     "Montserrat", sans-serif, arial;
$font_size: 16px;


// ======================================================================== /
// Color Variable
// ======================================================================== /
$w:              #FFFFFF;
$star: 	         #FC9835;

$primary:        #F46B2C;
$dark:           #232D4B;
$darkless:       #32383A;
$tab_color:      #72706F;

$placeholder:    #72706F;
$paragraph:      #545150;
$bdr_accident:   #e8e8e852;

$bg_section:     #F8F9FC;
$footer_bg:      #1F2425;
$copyright_bg:   #313233;
