.main_footer {
    color: $w;
    background-color: $footer_bg;


    .sidebar_footer {
        padding-top: 100px;
        padding-bottom: 55px;

        @include media-breakpoint-down(sm) {
            padding-top: 60px;
            padding-bottom: 30px;
            text-align: center;
        }

        h1, h2, h3, h4, h5, h6 {
            color: $w;
        }

        .widget {
            // margin-left: 15px;
            // margin-right: 15px;

            @include media-breakpoint-down(md) {
               padding-bottom: 30px;
            }
        }

        .widget_text {
            span {
                display: block;
                line-height: 30px;
            }
        }

        .footer_social {
            margin: 0;
            padding: 45px 0 0;

            @include media-breakpoint-down(md) {
               padding-top: 0px;
            }

            li {
                display: inline-block;

                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $w;
                    border-radius: 2px;
                    margin-right: 5px;
                    font-size: 20px;
                    color: $darkless;
                }
            }
        }
    }

    .nav_footer {

        ul {
            @include media-breakpoint-down(sm) {
               justify-content: center;
            }

            li {

                a {
                    font-size: 15px;
                    color: $w;
                    padding-right: 30px;

                    &:hover {
                        color: $primary;
                    }

                    @include media-breakpoint-down(sm) {
                        display: block;
                        font-size: 14px;
                        padding-right: 20px;
                        margin-bottom: 6px;
                    }
                }
            }
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin: 15px 0;
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    .disclaimer {
        font-size: 13px;
        padding-bottom: 45px;
        line-height: 21px;

        p {
            margin: 0;
        }

        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

}

.copyright {
    padding: 20px 0;
    font-size: 13px;
    color: $w;
	background-color: $copyright_bg;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}
