.main_header {
    border-bottom: 1px solid #f1f1f1;

    .container {
        @include media-breakpoint-only( md ) {
            max-width: 100%;
            padding: 0;
        }
    }

    .site_brand {
        max-width: 360px;

        .site-title{
            font-size: 32px;
            margin-bottom: 5px;
        }

        .site-description {
            width: 100%;
            font-size: 14px;
            margin-bottom: 0;
            line-height: 1.3;
        }

    }

    .custom-logo {
        max-width: 268px;
        height: auto;

        @include media-breakpoint-down(lg) {
            max-width: 230px;
        }
    }

    .navbar {
        @include media-breakpoint-up(md) {
            min-height: 90px;
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 15px;
        }

        .navbar-nav {
            @include media-breakpoint-down(md) {
                margin-top: 20px;
            }
        }

        @include media-breakpoint-up(md) {

            li {

                line-height: 20px;

                a {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $paragraph;
                    letter-spacing: 0.5px;
                    margin: 0 15px;
                    padding: 0 !important;

                    @include media-breakpoint-down(lg) {
                        font-size: 13px;
                        margin: 0 10px;
                    }

                    &:active, &:focus, &:hover {
                        color: $primary;
                    }
                }

                &:last-child a {
                    margin-right: 0;
                }

                &.call a{
                    color: $primary;
                    font-size: 20px;

                    &:before {
                        content:"\f095";
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        padding-right: 5px;
                    }

                }

                &.current-menu-item {

                    a {
                        color: $primary;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 4px;
                        background-color: $primary;
                        text-align: center;
                        position: relative;
                        bottom: -33px;
                    }
                }
            }

        }

        @include media-breakpoint-down(md) {
            .navbar-nav {

                li {

                    a {
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $darkless;
                        border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );

                        &:hover, &:active, &:focus {
                            color: $primary;
                        }
                    }

                    &:last-child a {
                        border-bottom: none;
                    }

                    &.call a{
                        color: $primary;

                        @include media-breakpoint-down(sm) {
                            font-size: 26px;
                        }

                        &:before {
                            content:"\f095";
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            padding-right: 5px;
                        }
                    }
                }

            }
        }


        @include media-breakpoint-only( md ) {
            .navbar-nav {
                li {
                    a {
                        font-size: 14px;
                    }
                    &.call a {
                        font-size: 20px;
                    }
                }
            }
        }

    }

    .navbar-toggler {
        border-color: $darkless;
        border-radius: 3px;
    }


    .main_hero {
        // max-height: 270px;
        padding: 100px 0;
        background-position: 50%;
        background-size: cover;
    }


}
