.section {
    padding: 80px 0;

    @include media-breakpoint-down(md) {
        padding: 60px 0;
    }

    .title_section {
        display: block;
        font-size: 40px;
        margin-bottom: 60px;
        text-align: center;
    }
}

// ======================================================================== /
// Main Hero
// ======================================================================== /
.main_hero {
    max-height: 740px;
    height: 100%;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: 50%;
    color: $w;

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    	background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.5) 100%);
    }

    .content {
        position: relative;
        padding-top: 180px;
        padding-bottom: 200px;

        @include media-breakpoint-down( sm ) {
            padding: 120px 0;
        }

        h1 {
            max-width: 870px;
            width: 100%;
            font-size: 64px;
            margin-bottom: 30px;
            color: $w;

            @include media-breakpoint-down( lg ) {
                font-size: 55px;
            }

            @include media-breakpoint-down( md ) {
                font-size: 48px;
            }

            @include media-breakpoint-down( sm ) {
                font-size: 45px;
            }
        }

        p {
            max-width: 570px;
            width: 100%;
            margin-bottom: 40px;
            font-weight: 500;
            letter-spacing: 0.8px;
        }

        .btn_primary {
            display: inline-block;
            background-color: $primary;
            color: $w;
            text-transform: uppercase;
            font-weight: 600;
            outline: none;
            border-color: $primary;
            border-radius: 55px;
            padding: 18px 36px;

            @include media-breakpoint-down( lg ) {
                font-size: 15px;
            }

            @include media-breakpoint-down( sm ) {
                padding: 15px 30px;
            }
        }
    }
}


// ======================================================================== /
// Description Section
// ======================================================================== /
.description {

    .title_section {
        text-align: left;
        max-width: 440px;
        margin-bottom: 25px;

        @include media-breakpoint-only(md) {
            font-size: 32px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 38px;
        }
    }

    .line {
        display: block;
    	box-sizing: border-box;
    	height: 2px;
    	width: 96px;
    	background-color: $primary;
        margin-bottom: 20px;
    }

    .mendium {
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 500;
        line-height: 28px;
        max-width: 440px;
    }

    p {
        margin-bottom: 25px;
    }
}

// ======================================================================== /
// PRESENTATION SECTION
// ======================================================================== /
.presentation {
    background-color: #f9fafc;

    .container {
        @include media-breakpoint-down( md ) {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .title_content {
        text-align: center;
        margin-bottom: 20px;

        @include media-breakpoint-down( md ) {
            margin-bottom: 40px;
        }

        @include media-breakpoint-down( sm ) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @include media-breakpoint-down( xs ) {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    #present-tab {
        margin: 0 auto;
        text-align: center;

        li {
            text-align: center;

            .nav-link {
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 15px;
                font-weight: 700;
                text-align: center;
                color: $tab_color;
                padding: 30px 25px 10px;

                @include media-breakpoint-down(lg) {
                    padding: 20px 15px 5px;
                    margin-bottom: 20px;
                }

                @include media-breakpoint-down(sm) {
                    padding: 15px 10px 3px;
                    margin-bottom: 10px;
                }

                @include media-breakpoint-down(xs) {
                    font-size: 13px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    // display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $primary;
                    opacity: 0.15;
                    // margin-bottom: 30px;
                }

                &.active {
                    color: $primary;
                    background: transparent;

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #present-tabContent {
        padding: 0;
        margin-bottom: 30px;

        @include media-breakpoint-up( lg ) {
            min-height: 560px;
        }

        .tab-pane {
            position: relative;

            &:nth-child(1) .step_number::before {
                content: "Start";
                display: block;
            }
            &:nth-child(2) .step_number::before {
                content: "01";
                display: block;
            }
            &:nth-child(3) .step_number::before {
                content: "02";
                display: block;
            }
            &:nth-child(4) .step_number::before {
                content: "03";
                display: block;
            }
            &:nth-child(5) .step_number::before {
                content: "04";
                display: block;
            }
            &:nth-child(6) .step_number::before {
                content: "05";
                display: block;
            }
            &:nth-child(7) .step_number::before {
                content: "06";
                display: block;
            }
            &:nth-child(8) .step_number::before {
                content: "07";
                display: block;
            }
        }

        .tab_indicator {
            position: absolute;
            left: 0;
            top: 80px;
            z-index: 2;
            width: 120px;
            height: 120px;
            background-color: $primary;
            color: $w;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            padding: 15px 10px;
            border-radius: 3px;
        	box-shadow: 0 8px 14px 0 rgba(0,0,0,0.13);

            p {
                margin-bottom: 0;
            }

            .line {
                display: block;
                width: 100px;
                height: 2px;
                background-color: $w;
                margin: 10px 0;
            }

            @include media-breakpoint-down( sm ) {
                margin-bottom: 20px;
            }

            @include media-breakpoint-down( xs ) {
                width: 100%;
                position: static;
                height: auto;
                padding: 10px;
                font-size: 15px;

                .line {
                    width: 100%;
                }
            }
        }

        .pre_content {
            position: relative;
            overflow: hidden;

            img {
                max-width: 100%;
            }

            .desc {
                position: absolute;
                right: 40px;
                top: 15%;
                max-width: 380px;
                font-family: $heading;
                font-size: 20px;
                font-style: italic;
                font-weight: bold;
                line-height: 28px;

                @include media-breakpoint-down( lg ) {
                    right: 0;
                    top: 5%;
                }

                @include media-breakpoint-down( md ) {
                    font-size: 18px;
                }

                @include media-breakpoint-down( sm ) {
                    position: static;
                    text-align: center;
                    margin: 15px auto auto;
                }
            }
        }
    }

    #pre-quest {

    }
}


// ======================================================================== /
// EXPERIENCE SECTION
// ======================================================================== /
.experience {

    .box_profile {
        position: relative;
        // overflow: hidden;

        @include media-breakpoint-down( md ) {
            margin-bottom: 60px;
        }

        @include media-breakpoint-down( xs ) {
            margin-bottom: 40px;
        }
    }

    .box_image {
        position: relative;
        z-index: 2;
        top: -20px;
        left: -20px;
        max-width: 415px;
        max-height: 520px;
        overflow: hidden;
        border-radius: 3px;
    	box-shadow: 5px 7px 20px 0 rgba(100,48,23,0.35);

        img {
            max-width: 100%;
        }

        @include media-breakpoint-down(lg) {
            top: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;
            text-align: center;

            .profile {
                top: 0;
            }
        }
    }

    .bg_profile {
        position: absolute;
        z-index: 1;
        bottom: 55px;
        right: 30px;
        width: 350px;
        height: 350px;
        background-color: $primary;

        @include media-breakpoint-down(lg) {
            width: 80%;
            height: 40%;
            bottom: 22%;
        }

        @include media-breakpoint-down(md) {
            width: 50%;
            height: 70%;
            bottom: -5%;
            right: 0;
            left: 0;
            margin: auto 17% auto auto;
        }

        @include media-breakpoint-down(sm) {
            width: 70%;
            margin: auto 6% auto auto;
        }

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .profile {
        width: 415px;
        position: relative;
        top: -20px;
    }

    .content {
        padding-top: 40px;
        padding-left: 15px;

        .title_section {
            text-align: left;
            margin-bottom: 20px;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 0;
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }
}


// ======================================================================== /
// ACCIDENT SECTION
// ======================================================================== /
.accident {
    background-color: $bg_section;

    .title_section {
        text-align: center;
    }

    .content_list {
        list-style-type: none;
        padding: 0;
        margin-top: 60px;
    	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.03);

        @include media-breakpoint-down(sm) {
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            position: relative;
            background-color: $w;
            border: 1px solid $bdr_accident;
            text-align: center;
            // width: 280px;
            height: 280px;
        	box-sizing: border-box;
            justify-content: center;
            transition: 0.35s ease-in-out;

            &:hover, &:active {
                background-color: $primary;
                transition: 0.25s ease-in-out;

                h5, img{
                    transition: 0.35s ease-in-out;
                }

                h5 {
                    color: $w;
                    bottom: 40px;
                }

                a {
                    bottom: 20px;
                    opacity: 1;
                    text-decoration: underline;
                    transition: 0.45s ease-in-out;
                }

                img {
                    margin-bottom: 100px;
                }
            }

            h5 {
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;
                transition: 0.35s ease-in-out;
            }

            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto auto 85px;
                max-height: 150px;
                max-width: 180px;
                transition: 0.35s ease-in-out;
            }

            a {
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                opacity: 0;
                transition: 0.35s ease-in-out;
                color: $w;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
            }

        }

    }
}


// ======================================================================== /
// CALL ACTION SECTIION
// ======================================================================== /
.call_action {
    padding: 65px 0;
    background-color: $primary;

    @include media-breakpoint-only(lg) {
        padding-left: 30px;
        padding-right: 30px;
    }

    h3 {
        color: $w;
        margin-bottom: 0;
        line-height: 52px;
    }

    .btn_white {
        background-color: $w;
        font-size: 22px;
        font-weight: bold;
        color: $darkless;
        padding: 12px 40px;
        border-radius: 50px;
        float: right;
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        text-align: center;

        h3 {
            font-size: 38px;
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }

        .btn_white {
            margin: 0 auto;
            font-size: 20px;
        }
    }

    @include media-breakpoint-down(sm) {
        .btn_white {
            font-size: 18px;
        }
    }

}


// ======================================================================== /
// COLLECTION SECTION
// ======================================================================== /
.collection {
    background-color: $bg_section;
    padding: 50px 0;
    text-align: center;

    .img_colection {
        max-height: 120px;
        max-width: 350px;

        @include media-breakpoint-down(md) {
            max-height: 80px;
            margin-bottom: 30px;
        }
    }

}


// ======================================================================== /
// TESTIMONIAL SECTION
// ======================================================================== /
.testimonial {

    ul {
        list-style-type: none;
        -webkit-padding-start: 0;
        margin: 0;
    }

    .content_list {

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }

        .info {

            .name {
                display: block;
                font-weight: 700;
                color: $dark;
            }

            time {
                display: block;
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            .star {

                span {
                    opacity: 0.15;
                }
                &.one {
                    span:nth-child(1) {
                        opacity: 1;
                    }
                }
                &.two {
                    span:nth-child(1),
                    span:nth-child(2) {
                        opacity: 1;
                    }
                }
                &.three {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3) {
                        opacity: 1;
                    }
                }
                &.four {
                    span:nth-child(1),
                    span:nth-child(2),
                    span:nth-child(3),
                    span:nth-child(4) {
                        opacity: 1;
                    }
                }
                &.fify {
                    span {
                        opacity: 1;
                    }
                }
            }

            .fa-star {
                color: $star;
                font-size: 20px;
            }

            .line {
                display: block;
                height: 2px;
                max-width: 58px;
                background-color: $primary;
                margin: 20px 0;
            }
        }

        .testi {
            position: relative;
            font-family: $heading;
            // font-size: 18px;
            font-weight: 700;
            font-style: italic;
            line-height: 26px;
            padding-right: 10px;

            @include media-breakpoint-only(md) {
                padding-right: 20px;
            }
            @include media-breakpoint-down(md) {
                padding-right: 0;
            }

            &::before {
                position: absolute;
                content: '“';
                left: -22px;
                top: 8px;
                font-family: $heading;
                font-size: 35px;
                color: $darkless;
                opacity: 0.5;
            }
        }
    }

}


// ======================================================================== /
// CONTACT FORM
// ======================================================================== /
.contact_form {
    background-color: $bg_section;
    padding: 0;
    min-height: 500px;

    .image_screen {
        position: relative;
        z-index: 0;
        display: block;
        min-height: 200px;
        height: auto;
        background-position: 50%;
        background-size: cover;

        figcaption {
            position: absolute;
            left: 60px;
            bottom: 10%;
            color: $w;
            font-family: $heading;
            font-size: 18px;
            font-weight: bold;
            max-width: 360px;

            @include media-breakpoint-down(md) {
                left: 0;
                right: 0;
                bottom: 30px;
                margin: 0 auto;
                max-width: 640px;
                padding: 40px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: 0;
        	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
        }
    }

    .content_form {
        padding: 80px 40px 80px 60px;

        @include media-breakpoint-down(lg) {
            padding: 50px;
        }

        @include media-breakpoint-down(md) {
            padding: 40px;
        }

        .nf-form-cont {
            max-width: 560px;

            @include media-breakpoint-down(md) {
                margin: 0 auto;
                font-size: 15px;

                .nf-form-title,
                .nf-before-form-content {
                    text-align: center;
                }

                .nf-form-title h3 {
                    font-size: 32px;
                }
            }
        }

        .nf-form-title {
            h3 {
                font-size: 40px;
                margin-bottom: 5px;
            }
        }

        .nf-field-container {
            margin-bottom: 20px;
        }

        .nf-form-fields-required {
            margin-bottom: 40px;
        }

        .nf-field-label {
            margin-bottom: 5px;
        }

        .ninja-forms-field {
            padding: 12px 15px;
            border-radius: 3px;
        	border: 1px solid rgba(35,45,75,0.08);
            background-color: $w;

            &[type="button"] {
                text-transform: uppercase;
                color: $w;
                font-weight: 700;
                letter-spacing: 1px;
                background-color: $primary;
                padding: 12px 35px;
            }
        }

        textarea.ninja-forms-field {
            height: 165px;
        }

        .nf-error-msg {
            font-size: 13px;
        }

    }

}
