.page_hero {
    position: relative;
    z-index: 0;
    max-height: 270px;
    color: $w;
    background-position: 50%;
    background-size: cover;
    // background-attachment: fixed;

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.55) 100%);
    }

    .page_header {
        padding: 170px 0 50px;
        margin-left: -15px;
        margin-right: -15px;

        h1 {
            color: $w;
        }
    }

}
